.container2 {
    /* width: 300px;
    height: 400px; */
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;

}

.card2 {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 5s ease infinite;
    width: 400px;
    height: 100px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #ddd,
                -1px -1px 10px #ddd,
                1px -1px 10px #ddd,
                -1px 1px 10px #ddd;
}

.bookmarked {

    /* display: inline-flex;
  text-align: center; */
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 400px;
  height: 100px;
  margin: 20px auto;
  display: inline-flex;
  /* width: 100%;
  height:100%; */
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
  border-radius: 10px;
  box-shadow: 1px 1px 10px #ddd,
                -1px -1px 10px #ddd,
                1px -1px 10px #ddd,
                -1px 1px 10px #ddd; 
    
    /* opacity: 0.6;
    background: #e49364;
    background-size: cover;
    width: 400px;
    height: 200px;
    margin: 20px auto;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #ddd,
                -1px -1px 10px #ddd,
                1px -1px 10px #ddd,
                -1px 1px 10px #ddd; */

}

@keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
    }

h1{ 
    color: #080505;
}

h3{
    color: #0c0505;
}

