.container2 {
    /* width: 300px;
    height: 400px; */
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;

}

.card2 {
    width: 400px;
    height: 100px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #ddd,
                -1px -1px 10px #ddd,
                1px -1px 10px #ddd,
                -1px 1px 10px #ddd;
}

.bookmarked {
    /* background-image: url("https://cdn.wallpapersafari.com/4/89/cKZHE5.jpg");
    background-size: cover; */
    width: 200px;
    height: 200px;
    margin: 20px auto;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    padding-left: 200px 200px 200px 200px;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #ddd,
                -1px -1px 10px #ddd,
                1px -1px 10px #ddd,
                -1px 1px 10px #ddd;
}
