body {

    display: flex;
    justify-content: center;
    background-color: #062f4f;
    background-size: cover;
    /* text-align: center; */

}

// .App{
//   text-align: center;
// }

// // --------------------------
// // Variables
// // --------------------------

@mixin linx($link, $visit, $hover, $active) {
  a {
    text-decoration: none;
    color: $link;
    &:visited {
      color: $visit;
    }
    &:hover {
      background-color: $hover;
    }
    &:active {
      color: $active;
    }
  }
}

// // --------------------------
// // Links
// // --------------------------




// //include the mixin that contains the a, this is the same as doing a bunch of nav a
// .nav {
//   font-weight: bold;
//   @include linx(black, black, rgb(173, 173, 173), rgba(255, 255, 255, 0));
// }
// .main {
//   padding: 0 20px;
// }
