/*--------------------------
 Nav
-------------------------- */
.nav {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 10px 50px;
  margin: 30px;
  background: rgba(192, 192, 192, 0.63);
  justify-content: space-between;
}

/* Apply to all children of nav ele */
.nav > * {
  padding-right: 20px;
}
.nav .nav-main {
  font-weight: bold;
  font-size: 1.5em;
  display: flex;
  align-items: center;
}
.nav-user {
  display: flex;
  justify-content: flex-end;
  width: 400px;
}
.nav-user-profile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
}

#avatar {
  width: 40px;
  height: 40px;
  display: flex;
  position: relative;
  overflow: hidden;
  font-size: 1.25rem;
  align-items: center;
  flex-shrink: 0;
  border-radius: 50%;
  justify-content: center;
}


