form.authForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

html {
    background-color: #000000;
    font-family: 'Comic Sans MS', sans-serif;
    text-align: center;
    /* display: inline-flex;
    text-align: center; */
}

body{
    background-image: url("https://img.8wallpapers.com/uploads/2019/04/0b250b5c6e2d4731ac02f586.jpg");
    /* background-size: cover; */
    display: flex;
    justify-content: center;
    /* background-color: #062f4f; */
    background-size: cover;
    /* text-align: center; */
}

/* .App{
    
} */

h1{ 
    color: #FFFFFF;
}

h3{
    color: #FFFFFF;
}


.container {
    background-color: #062f4f;
    font-family: 'Comic Sans MS', sans-serif;
    display: flex;
    justify-content: center;

}

.card {
    background-color: #FFFFFF;
    width: 400px;
    height: 400px;
    margin: 7em auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    display: flex;
    justify-content: center;
    flex-direction: column;
}
/* google button stolen style hehe */
.auth {
    /* background-color: rgb(255, 255, 255); */
    display:inline-flex;
    justify-content: center;
    align-items: center;
    /* color: rgba(0, 0, 0, 0.54); */
    box-shadow: rgb(0 0 0 / 24%) 0px 2px 2px 0px, rgb(0 0 0 / 24%) 0px 0px 1px 0px;
    border-radius: 2px ;
    border: 2px solid transparent;
    font-size: 14px;
    font-weight: 500;
    font-family: Comic Sans MS, sans-serif;
    padding: 10px 10px 10px 0px;
    font-weight: 500;
    width: 300px;
    margin: 2px;
}

.container2 {
    /* width: 300px;
    height: 400px; */
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;

}

.card2 {
    background-color: pink;
    width: 400px;
    height: 100px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #ddd,
                -1px -1px 10px #ddd,
                1px -1px 10px #ddd,
                -1px 1px 10px #ddd;
}

.bookmarked {
    background-image: url("https://i.pinimg.com/originals/26/98/4a/26984a320f83615e2b134b07a0bfa6c6.jpg");
    background-size: cover;
    width: 400px;
    height: 200px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    box-shadow: 1px 1px 10px #ddd,
                -1px -1px 10px #ddd,
                1px -1px 10px #ddd,
                -1px 1px 10px #ddd;
}
